.card {
  border: 2px solid #333;
  padding: 1rem;
  background-color: #2414148a;
  width: 250px;
  border-radius: 18px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h2 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.card-precio {
  font-weight: bold;
  color: #0066cc;
  margin: 0.5rem 0;
}

.card p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}
